.game {
    display: flex;
    gap: 31px;
    margin: 128px 0;

    &__card {
        max-width: 379px;
        width: 100%;
        height: 300px;
        border-radius: 22px;
        position: relative;
        cursor: pointer;
        &:hover {
            //border: 3px solid #44D2FF
            box-shadow: 0 0 0 3px #44d2ff;
        }

        &--1 {
            background-image: url(./img/Game1.png);
            background-repeat: no-repeat;
        }

        &--2 {
            background-image: url(./img/Game2.png);
            background-repeat: no-repeat;
        }

        &--3 {
            background-image: url(./img/Game3.png);
            background-repeat: no-repeat;
        }

        & p {
            position: absolute;
            bottom: 32px;
            left: 32px;
            font-weight: 600;
            font-size: 24px;
            line-height: 133%;
        }
    }

}